# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider / JetBrains
.idea/
*.sln.iml

# Build results
*.dll
*.exe
*.pdb

# NuGet packages (ako ne želiš cache u repo-u)
packages/
*.nupkg

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db